@import url('base.css');

/* HEADER START */

header {
    font-size: 15px;
}


.header-menu-active-link {
    transition: .2s;
}

.header-menu-active-link:hover {
    color: var(--title-grey);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-menu {
    display: flex;
    gap: 24px;

}

/* HEADER END */

/* HERO START */

.hero-image {
    width: 100%;
}

.hero-title {
    font-size: 36px;
    color: var(--title-grey);
    margin-top: 20px;
}

.hero-subtitle {
    font-size: 17px;
    color: var(--header-grey);
    margin-top: 12px;
    line-height: 150%;
}

.brown-button {
    background-color: var(--brown);
    padding: 14px 28px;
}

.hero-booking {
    display: block;
    padding-top: 40px;
}

.hero-booking:focus, .hero-booking:hover {
    outline-offset: 3px;            
    text-decoration: underline;
}

/* SLIDER */

.swiper-slide {
    width: 244px;
    height: 180px;
}


.gallery {
  position: relative;
  padding: 40px 0;
}

.swiper-slide {
  border-radius: 16px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}

/* HERO END */

